@model BLL.Aluno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Aluno</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Idade, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Idade)
                    @Html.ValidationMessageFor(model => model.Idade)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DataInscricao, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataInscricao)
                    @Html.ValidationMessageFor(model => model.DataInscricao)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Sexo)*@
                    @Html.DropDownList("Sexo", new List<SelectListItem>()
                   {
                        new SelectListItem(){ Text = "Masculino", Value = "M" },
                        new SelectListItem(){ Text = "Feminino", Value = "F" }
                   }, "Selecione o Sexo", new { htmlAttribuites = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sexo)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</body>
</html>
